.App {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /*Use the Width to change the size of the graph*/
  .chart-container {
    margin-bottom: 50px;
    width: 50%;
  }

  