p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 0.5em;
    margin-bottom: 0.2em;
    margin-top: 0.2em;
    width: auto;
}

#current {
    grid-area: current;
    
}

#highest {
    grid-area: highest;
}

#lowest {
    grid-area: lowest;
}

.temperatureData {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas: 
        "image current"
        "image highest"
        "image lowest"
        "chart chart";
    flex-direction: column;

}

svg {
    background-color: #dadada;;
}

.chartsDiv {
    margin-top: 1em;
    background-color: #dadada;
    grid-area: chart;
}

img {
    width: 64px;
    grid-area: image;
    align-self: center;
}

#slider {
    margin-top: 1em;
}

#sliderDiv {
    width: 100%;
}

button {
    margin-top: 1em;
    margin-right: 1em;
    padding: 0.5em;
}