.App
{
  text-align: center;
}
body
{
  margin: 0;
  background-color: #383838;
}
.modelCanvas
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #383838;
}